In [1]:
t1 = (1,2,3.4)

In [2]:
type(t1)

tuple

In [3]:
t1[1]

2

In [5]:
### sets

In [6]:
set1 = {1,3.5,"hello",4,5,3.6}

In [7]:
type(set1)

set

In [8]:
set1

{1, 3.5, 3.6, 4, 5, 'hello'}

In [2]:
set2 = {1,2,3,1,2,3}

# Dictionary

# for loops

In [1]:
num = int(input("please enter which table u require:"))

for i in range(0,11):     #range(start,end,step)
    print(num,"*",i,"=",num*i)

please enter which table u require:5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# patterns
1

1 2

1 2 3 

1 2 3 4

In [ ]:
for Num in range(1,5):